<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv-_nxiYVqlhDbL4cnBV_xHMFi0MMMqAE</string>
	<key>GCM_SENDER_ID</key>
	<string>758992724359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsMenia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>news-menia-ebbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>news-menia-ebbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758992724359:ios:c1dcb0d2d5f014898d3322</string>
</dict>
</plist>